// Roboto import
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colour palette

$background: #131419;
$main-light-blue: #29cde0;
$main-powder-blue: #4b98ae;
$main-dark-blue: #2b2d47;
$game-page-off-white: #cdcfdb;
$white: #fff;
$whitesmoke: whitesmoke;

$green: rgb(78, 202, 78);
$fuschia: #eb0981;

$main-font-font-family: "Courier New", Courier, monospace;
$roboto-font-family: "Roboto", sans-serif;
