@import "./variables";
@import "./reset";
@import "./mixins";

// !!! Trying to refactor code to make responsive
// !!! Come back to and make layout flex - will be easier to make responsive
// !!! Update to Sass..

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: $background;
}

#startingPage {
  margin-top: 8rem;
  height: 220px;
  width: 300px;
  text-align: center;
}

#startingPage h2,
#winner h2 {
  font-family: $main-font-font-family;
  font-size: 50px;
  color: $game-page-off-white;
}

#startingPage #line {
  height: 1px;
  width: 100%;
  background: $game-page-off-white;
  margin: 20px 0;
}

#startingPage h4 {
  font-family: $main-font-font-family;
  font-size: 25px;
  color: $game-page-off-white;
}

#startingPage #button {
  height: auto;
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

#button button,
.play-again-button {
  height: 55px;
  width: 180px;
  cursor: pointer;
  background: $main-light-blue;
  border: none;
  outline: none;
  color: $main-dark-blue;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  transition: 0.5s;
}

#button button:first-child {
  margin-right: 40px;
}

#startingPage #button button:hover,
#winner #button button:hover {
  transform: scale(0.9);
}

#winnerName {
  margin-bottom: 2rem;
}

#winner {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

#winner #button {
  height: auto;
  width: 100%;
  display: flex;

  justify-content: center;
}

#winner #button button {
  margin-top: 20px;
}

#mainPage {
  margin-top: 7rem;

  height: 550px;
  width: 350px;
  padding: 20px;
  position: relative;
  display: none;
}

#mainPage #headerBtns {
  height: 60px;
  width: 310px;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

#mainPage #headerBtns #O_Turn {
  left: 160px;
  z-index: 3;
}

#showChange {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 160px;
  border-radius: 50px;
  background: $main-light-blue;
  z-index: 1;
  transition: 0.2s;
}

#gameBoard {
  height: 350px;
  width: 310px;
  position: absolute;
  top: 150px;
  left: 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 15px;
}

.boxes {
  height: 80px;
  width: 80px;
  box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
  display: grid;
  place-items: center;
  cursor: pointer;

  font-size: 3rem;
}

.boxes i {
  font-size: 60px;
  color: $main-light-blue;
}

.circle-element {
  color: $main-light-blue;
}

.ex-element {
  color: $fuschia;
}

// ? Small phones

@include smallPhones {
  #startingPage {
    width: 250px;
  }
  #gameBoard {
    height: 300px;
    width: 260px;
    left: 63px;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-gap: 5px;
  }

  .boxes {
    height: 70px;
    width: 70px;
    font-size: 2.5rem;
  }
}

// !!! Galaxy
@media (max-width: 280px) {
  #gameBoard {
    left: 73px;
  }
}

// ? Tablet

@include tablet {
  #startingPage {
    width: 400px;
  }
}
