// ? Mobile and universal

.sign-in-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $background;
}

.sign-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  font-family: $roboto-font-family;
}

.sign-up-form {
  margin-top: 3rem;
  padding: 2rem 3rem 3rem 3rem;
  border-radius: 1rem;
  border: solid 8px $main-dark-blue;

  label {
    color: whitesmoke;
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    border-radius: 0.1rem;
    border: none;
    outline: none;
    font-size: 15px;
  }

  button {
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.5rem;
    background: $main-light-blue;
    font-size: 1rem;
    letter-spacing: 0.1rem;

    &:hover {
      font-weight: bold;
      background: $green;
    }
  }
}

.sign-up-container,
.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-h3 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: $main-light-blue;
  font-family: $main-font-font-family;
  margin-top: 4rem;
  width: 80%;
  text-align: center;
}

// ? For iphone 5 and Galaxy fold..
// Media query from _mixins
@include smallPhones {
  .sign-up-form {
    width: 60%;
  }
}

// ? Tablet
// Media query from _mixins
@include tablet {
  .signup-h3 {
    font-size: 3rem;
    margin-top: 10rem;
  }

  .sign-in-form-container {
    margin-top: 1rem;
  }
}

// ? Desktop
// Media query from _mixins
@include desktop {
  .signup-h3 {
    font-size: 4rem;
    margin-top: 6rem;
  }
}
